<nav>
  <div class="site-title">
    <a href="/"><h1>Recip-Ease</h1></a>
    <p></p>
  </div>
  <ul>
    <li><a href="/login">Login/Sign up</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/recipes">Recipes</a></li>
    <li><a href="/recipes/create">New Recipe</a></li>
  </ul>
</nav>
