<nav>
  <div class="site-title">
    <a href="/"><h1>Recip-Ease</h1></a>
    <p></p>
  </div>
  <ul>
    <% if(user){ %>
    <li>Welcome, <%=user.username %></li>
    <li><a href="/logout">Logout</a></li>
    <% } else { %>
    <li><a href="/login">Login</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <% } %>
    <li><a href="/recipes">Recipes</a></li>
    <% if(user){ %>
    <li><a href="/recipes/create">New Recipe</a></li>
    <li><a href="/recipes/myRecipes">My Recipes</a></li>
    <% } %>
  </ul>
</nav>
