<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <h2>Create a New Recipe</h2>
  <div class="content">
    <form
      action="/recipes"
      method="POST"
      class="form"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      <div class="inputDiv">
        <label for="title">Recipe Name:</label>
        <input type="text" id="title" name="title" required />
        <label for="category">Category:</label>
        <select name="category" id="category" required>
          <option value="breakfast">Breakfast</option>
          <option value="lunch">Lunch</option>
          <option value="dinner">Dinner</option>
          <option value="dessert">Dessert</option>
          <option value="snack">Snack</option>
        </select>
      </div>

      <div id="ingredientContainer">
        <div class="singleIngredient">
          <label for="ingredientName">Ingredient:</label>
          <input
            type="text"
            id="ingredientName"
            name="ingredientName"
            required
          />

          <label for="ingredientQty">Qty:</label>
          <input
            type="number"
            id="ingredientQty"
            name="ingredientQty"
            step="any"
            placeholder="1"
            required
          />
          <label for="qtyType">Measurement:</label>
          <select name="qtyType" id="qtyType" required>
            <option value="cups">cup</option>
            <option value="lb">lb</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
            <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
        <div class="singleIngredient">
          <label for="ingredientName">Ingredient:</label>
          <input
            type="text"
            id="ingredientName"
            name="ingredientName"
            required
          />

          <label for="ingredientQty">Qty:</label>
          <input
            type="number"
            id="ingredientQty"
            name="ingredientQty"
            step="any"
            placeholder="1"
            required
          />
          <label for="qtyType">Measurement:</label>
          <select name="qtyType" id="qtyType" required>
            <option value="cups">cup</option>
            <option value="lb">lb</option>
            <option value="tsp">tsp</option>
            <option value="tbsp">tbsp</option>
            <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i>
        </div>
      </div>
      <button type="button" id="addBtn" class="btn">
        <i class="fas fa-plus"></i>
      </button>
      <label for="body">Recipe Instructions:</label>
      <textarea id="body" name="body" required></textarea>
      <div class="inputDiv">
        <label for="image">Upload Image:</label>
        <input type="file" name="image" accept="image/*" required />
      </div>
      <button class="btn" id="submitBtn">Submit</button>
    </form>
  </div>
  <%- include("./partials/footer.ejs") %>
  <script>
    const addIngredient = document.getElementById('addBtn');
    const ingredientContainer = document.getElementById('ingredientContainer');
    addIngredient.addEventListener('click', () => {
      const nextInput = document.createElement('div');
      nextInput.classList.add('singleIngredient');
      nextInput.innerHTML = ` <label for="ingredientName">Ingredient:</label>
        <input type="text" id="ingredientName" name="ingredientName" required />
        <label for="ingredientQty">Qty:</label>
        <input type="number" id="ingredientQty" placeholder='1'name="ingredientQty" step="any" required/>
        <label for="qtyType">Measurement:</label>
        <select name="qtyType" id="qtyType"required>
          <option value="cups">cup</option>
          <option value="lb">lb</option>
          <option value="tsp">tsp</option>
          <option value="tbsp">tbsp</option>
          <option value="ounce">Oz</option>
          </select>
          <i class="fa fa-trash" aria-hidden="true"></i> `;
      ingredientContainer.appendChild(nextInput);
      const deleteBtn = document.querySelectorAll('.fa-trash');
      deleteBtn.forEach((el) => {
        el.addEventListener('click', (e) => {
          e.target.parentNode.remove();
        });
      });
    });
  </script>
</body>
