
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <div class="content">
      <form action="/recipes" method="POST">
        <h2>Create a New Recipe</h2>
        <label for="title">Recipe Name:</label>
        <input type="text" id="title" name="title" required />
            <div id="ingredientContainer">
              <div class="singleIngredient">
                <label for="ingredientName">Ingredient:</label>
                <input type="text" id="ingredientName" name="ingredientName" required />
                <label for="ingredientQty">Qty:</label>
                <input type="number" id="ingredientQty" name="ingredientQty"/>
                <label for="qtyType">Measurement</label>
                  <select name="qtyType" id="qtyType">
                    <option value="cups">cup</option>
                    <option value="lb">lb</option>
                    <option value="tsp">tsp</option>
                    <option value="tbsp">tbsp</option>
                    <option value="ounce">Oz</option>
                  </select>
                  <i class="fas fa-plus plus"></i>
                  <i class="fas fa-edit hidden"></i>
              </div>
            </div>
        <!-- <label for="body">Recipe Instructions:</label>
        <textarea id="body" name="body" required></textarea> -->
        <button>Submit</button>
      </form>
    </div>
    <%- include("./partials/footer.ejs") %>
    <script>
      const addIngredient = document.querySelector('.plus')
      const ingredientContainer = document.getElementById(
        'ingredientContainer'
      )
      addIngredient.addEventListener('click', ()=>{
        const ingredientInput = document.createElement('div');
          ingredientInput.innerHTML = `<div class="ingredient">
    <label for="ingredientName">Ingredient:</label>
    <input type="text" id="ingredientName" name="ingredientName" required />
    
    <label for="ingredientQty">Qty:</label>
    <input type="number" id="ingredientQty" name="ingredientQty"/>

    <label for"qtyType">Measurement</label>
    <select name="qtyType" id="qtyType">
      <option value="cups">cup</option>
      <option value="lb">lb</option>
      <option value="tsp">tsp</option>
      <option value="tbsp">tbsp</option>
      <option value="ounce">Oz</option>
     </select>
     <i class="fas fa-plus" id="plus"></i>
      <i class="fas fa-edit hidden"></i> 
      <i class="fas fa-minus "></i> 
          
    </div>`;

          ingredientContainer.appendChild(ingredientInput);
      })

    </script>
  </body>
</html>
