<%- include("./partials/head.ejs") %>
<body>
  <%- include("./partials/nav.ejs") %>
  <div class="content">
    <form>
      <h2>Login</h2>
      <label for="username">Username:</label>
      <input type="text" name="username" required />
      <div class="error username"></div>
      <label for="password">Password:</label>
      <input type="password" name="password" required />
      <div class="error password"></div>
      <button>Login</button>
    </form>
  </div>
  <%- include("./partials/footer.ejs") %>
  <script>
    const form = document.querySelector('form');
    form.addEventListener('submit', (e) => {
      e.preventDefault();
      const username = form.username.value;
      const password = form.password.value;
    });
  </script>
</body>
