@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: hsl(205, 78%, 60%);
  margin: 0px;
}
h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  color: #444;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.content {
  min-height: 80vh;
}
.loginForm {
  min-width: 15vw;
  width: 15vw;
  min-height: 30vh;
  margin: auto;
  margin-top: 30px;
  padding: 15px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.form {
  width: 60vw;
  min-width: 580px;
  min-height: 60vh;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
form textarea {
  min-width: 55vw;
  max-width: 55vw;
  min-height: 40vh;
}
footer {
  text-align: center;
}

.fa-trash,
.btn {
  cursor: pointer;
}
.hidden {
  display: none;
}
.error {
  color: rgb(99, 7, 7);
}

.recipes {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
#recipeImage {
  width: 200px;
  height: 200px;
}
#ingredientQty {
  width: 50px;
}
.btn {
  text-transform: uppercase;
  background: transparent;
  color: #444;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #444;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin: 0.5rem;
}
.btn:hover {
  color: #fff;
  background: rgb(24, 82, 1);
}
#submitBtn {
  width: 400px;
}
#submitBtn:hover,
#loginBtn:hover,
#signBtn:hover,
.customUpload:hover,
#searchBtn:hover {
  background: hsl(205, 78%, 60%);
}
.inputDiv {
  margin: 10px;
}
.singleIngredient {
  display: flex;
  justify-content: space-evenly;
  margin: 3px;
}
#ingredientContainer {
  width: 35vw;
}
.fa-trash,
.fa-edit {
  transition: all 0.3s linear;
}
.fa-trash:hover {
  color: rgb(99, 7, 7);
}
.fa-edit:hover {
  color: hsl(205, 78%, 60%);
}
.title {
  text-align: center;
  text-transform: capitalize;
}
input[type='file'] {
  display: none;
}

.recipeContainer {
  background: white;
  margin: auto;
  margin-top: 30px;
  max-width: 70vw;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
.detailsContainer {
  background: white;
  margin: auto;
  margin-top: 30px;
  max-width: 50vw;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
}
#titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#ingredientsList {
  text-align: left;
}
.single,
.singleMy {
  margin-top: 20px;
}
#deleteBtn {
  border: none;
  outline: none;
  background: none;
  margin-left: 15px;
  font-size: large;
}
.editContainer {
  display: flex;
  justify-content: center;
}
.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#imgDetails {
  width: 400px;
  margin-right: 40px;
}
.detailsHeading {
  font-weight: 700;
}
#detailsTitle {
  margin-bottom: 30px;
}
#instructionContainer {
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px;
}
/*
=============== 
Navbar
===============
*/
nav {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  min-width: 640px;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: hsl(205, 78%, 60%);
  background: transparent;
  border-color: transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.nav-toggle:hover {
  color: hsl(205, 86%, 17%);
  transform: rotate(90deg);
}
.links a,
#welcome {
  color: hsl(209, 34%, 30%);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.3s linear;
  font-weight: 700;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 78%, 60%);
  padding-left: 1.5rem;
}
#title {
  transition: all 0.3s linear;
}
.links {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}
.show-links {
  height: 10rem;
}
#welcome {
  margin-left: 20vw;
}
@media screen and (min-width: 1305px) {
  .nav-center {
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    white-space: nowrap;
    overflow: hidden;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
}
